<a href="https://colab.research.google.com/github/mc-off/data-analyze-course/blob/master/16_09_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
array = [1, "test", [1,2,3,]]

In [ ]:
array

[1, 'test', [1, 2, 3]]

In [ ]:
type(array)

list

In [ ]:
array[2]

[1, 2, 3]

In [ ]:
def f(x):
  return x**-1

In [ ]:
f(2)

0.5

In [ ]:
f(4)

0.25

In [ ]:
d = {}

In [ ]:
d

{}

In [ ]:
d = {1: 'one', 2: 'her'}

In [ ]:
d

{1: 'one', 2: 'her'}

In [ ]:
for k,v in d.items():
  print(k,v)

1 one
2 her

In [ ]:
for k in d:
  print(k, d[k])

1 one
2 her

In [ ]:
a = [4,3,6,9,1,0,7,3,2,1,4,6,8,9]

In [ ]:
def qsort(unsorted_list):
  if len (unsorted_list) <=1:
    return unsorted_list
  p = unsorted_list[len(unsorted_list) // 2]
  left = [x for x in unsorted_list if x<p]
  right = [x for x in unsorted_list if x>p]
  center = [x for x in unsorted_list if x>p]
  return qsort(left) + center + qsort(right)

In [ ]:
qsort(a)

[1, 1, 4, 6, 9, 7, 4, 6, 8, 9, 6, 9, 7, 6, 8, 9, 9, 7, 8, 9, 7, 9, 9]

In [ ]:
import time

In [ ]:
arra = a * 10000

In [ ]:
st = time.time()
qsort(arra)
end = time.time()
end-st

0.05170607566833496

In [ ]:
st = time.time()
sorted(arra)
end = time.time()
end-st

0.01706075668334961

In [ ]:
%timeit qsort(arra)

10 loops, best of 3: 41.5 ms per loop

In [ ]:
%timeit sorted(arra)

100 loops, best of 3: 14 ms per loop

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/My Drive/data/Iris.csv')

In [ ]:
type(data), data.shape, data.columns

(pandas.core.frame.DataFrame,
 (150, 6),
 Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
        'Species'],
       dtype='object'))

In [ ]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
 data.loc[0:5]["SepalLengthCm"]

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
Name: SepalLengthCm, dtype: float64

In [ ]:
data.iloc[0:5,1]

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: SepalLengthCm, dtype: float64

In [ ]:
data[data["SepalLengthCm"]> 7.0]

      Id  SepalLengthCm  ...  PetalWidthCm         Species
102  103            7.1  ...           2.1  Iris-virginica
105  106            7.6  ...           2.1  Iris-virginica
107  108            7.3  ...           1.8  Iris-virginica
109  110            7.2  ...           2.5  Iris-virginica
117  118            7.7  ...           2.2  Iris-virginica
118  119            7.7  ...           2.3  Iris-virginica
122  123            7.7  ...           2.0  Iris-virginica
125  126            7.2  ...           1.8  Iris-virginica
129  130            7.2  ...           1.6  Iris-virginica
130  131            7.4  ...           1.9  Iris-virginica
131  132            7.9  ...           2.0  Iris-virginica
135  136            7.7  ...           2.3  Iris-virginica

[12 rows x 6 columns]

In [ ]:
data[[data["SepalLengthCm"]> 5.0] and data["PetalLengthCm"]> 1.5]

      Id  SepalLengthCm  ...  PetalWidthCm         Species
5      6            5.4  ...           0.4     Iris-setosa
11    12            4.8  ...           0.2     Iris-setosa
18    19            5.7  ...           0.3     Iris-setosa
20    21            5.4  ...           0.2     Iris-setosa
23    24            5.1  ...           0.5     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[113 rows x 6 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
y = LabelEncoder().fit(data.Species).transform(data.Species)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
data = data.drop(["Id","Species"],axis=1)

In [ ]:
data['y']=y

In [ ]:
data=data.drop(['y'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(data, y, test_size=0.3, random_state=2020)

In [ ]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((105, 4), (45, 4), (105,), (45,))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [ ]:
##K-NN classifier

In [ ]:
knn = KNeighborsClassifier().fit(x_train,y_train)

In [ ]:
##Accuracy

In [ ]:
acc = np.mean(knn.predict(x_train)==y_train)

In [ ]:
test_acc = np.mean(knn.predict(x_test)==y_test)
test_acc

0.9333333333333333

In [ ]:
print(f"Acc is {acc}, Test acc is {test_acc}")

Acc is 0.9809523809523809, Test acc is 0.9333333333333333

In [ ]:
##Naive Bayes

In [ ]:
nb = GaussianNB().fit(x_train, y_train)

In [ ]:
accu = np.mean(nb.predict(x_train)==y_train)

In [ ]:
test_accu = np.mean(nb.predict(x_test)==y_test)

In [ ]:
accu, test_accu

(0.9904761904761905, 0.8888888888888888)

In [ ]:
##GridSearch K-NN

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
gs = GridSearchCV(KNeighborsClassifier(),param_grid={'n_neighbors': range(1,20)}, cv=5)
gs.fit(x_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid={'n_neighbors': range(1, 20)}, pre_dispatch='2*n_jobs',
             refit=True, return_train_score=False, scoring=None, verbose=0)

In [ ]:
gs.best_params_,gs.best_score_

({'n_neighbors': 7}, 0.9904761904761905)

In [ ]:
gsnew = GridSearchCV(KNeighborsClassifier(),param_grid={'n_neighbors': range(1,20)}, cv=5)
gsnew.fit(data, y)

GridSearchCV(cv=5, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid={'n_neighbors': range(1, 20)}, pre_dispatch='2*n_jobs',
             refit=True, return_train_score=False, scoring=None, verbose=0)

In [ ]:
gsnew.best_params_,gs.best_score_

({'n_neighbors': 6}, 0.9904761904761905)